* {
  outline: 1px solid blue;
}
.container {
  width: 50%;
  display: block;
  margin: auto;
}
.flex {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.fullfilms {
  align-self: flex-start;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.film {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.showreel {
  max-width:100%;
}
.minivideo {
  max-width: 100%;
  margin: auto;
}
