* {
  outline: 1px solid blue;
}
body {
  font-family: 'Dosis', sans-serif;
}
.container {
  width: 50%;
  display: block;
  margin: auto;
}
.flex {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.fullfilms {
  align-self: flex-start;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 1em;
}
.film {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1em 0 1em 0;
  justify-content: space-between;
}
.showreel {
  max-width:100%;
}
.minivideo {
  width: 50%;
  height:auto;
}
.videodescription {
  width: 50%;
  margin: 0;
}
h3 {
  font-weight: bold;
  margin: 0 0.3em;
}
h2 {
  color: #f66eac;
  font-size: 24px;
  margin: 1em 0;
}
.fullfilms iframe{
  width: 270px;
  align-self: center;
}
p {
  margin: 0.3em;
  margin-top: 1em;
}
.header {
  max-width: 100%;
  height: auto;
}
.header img {
  max-width: 90%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}
a:link {
  color:#59adec;
}
a:visited{
  color: #dfdf23;
}
@media only screen and (max-width:750px){
  .container{
    width: 100%;
  }
  h2{
    font-size: 19px;
  }
  .fullfilms{
    align-self: center;
    width: 95%;
  }
}
@media only screen and (max-width:650px){
  .fullfilms iframe{
    width: 100%;
  }
  .showreel {
    width: 100%;
    margin: 0 auto;
  }
  .menu {
    width: 90%;
    font-size: 14px;
    justify-content: center;
    margin: 1em auto;
  }
  .menu h2{
    margin-left: 1em;
  }
  .showreel h2 {
    margin-left: 2em;
  }
  .showreel iframe{
    width: 100%;
    margin: 0 auto;
  }
}
